body {
  font-family: sans-serif; }

.container {
  padding: 1em;
  margin: 4em;
  margin-bottom: 2em;
  font-size: 1.2em; }

input {
  width: 70%;
  padding: 1em;
  font-size: 1em;
  text-align: center;
  background-color: #d9d9d9;
  border-color: transparent;
  transition: background-color 2s, border-bottom-color 4s; }

input:focus {
  background-color: transparent;
  border-bottom-color: red;
  box-shadow: none;
  outline: none; }

.yellbutton {
  color: orangered;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 500;
  margin-right: 20px;
  padding: 1.5em;
  background-color: transparent;
  border-color: transparent;
  border-width: 1px;
  border-radius: 4px;
  transition: background-color 3s, color 2s; }

.yellbutton:hover {
  color: white;
  background-color: red;
  cursor: pointer;
  transition: background-color 2s, color 3s; }

section {
  margin-top: 5em; }
  section ul {
    list-style-type: none; }
  section li {
    padding: 5px;
    padding-left: 15 px;
    margin-bottom: .4em;
    font-family: sans-serif;
    font-size: 1.8em;
    border-left: 2px solid orangered; }
